RewriteEngine On
RewriteCond %{HTTPS} off

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# **** INDEX ****
RewriteRule ^$ index.php [QSA]
# **** Dashboard ****
RewriteRule ^dashboard$ dashboard.php [QSA]
# **** Kegiatan ****
RewriteRule ^kegiatan$ kegiatan.php [QSA]
# **** Surat ****
RewriteRule ^surat$ surat.php [QSA]
RewriteRule ^surat/([A-Za-z0-9_-]+)$ surat.php?halaman=$1 [QSA]
RewriteRule ^surat/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$ surat.php?halaman=$1&aksi=$2 [QSA]

# **** Proposal ****
RewriteRule ^proposal$ proposal.php [QSA]
RewriteRule ^proposal/([A-Za-z0-9_-]+)$ proposal.php?halaman=$1 [QSA]

# **** Proposal ****
RewriteRule ^lpj$ lpj.php [QSA]
RewriteRule ^lpj/([A-Za-z0-9_-]+)$ lpj.php?halaman=$1 [QSA]