RewriteEngine On
RewriteCond %{HTTPS} off

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# **** INDEX ****
RewriteRule ^$ index.php [QSA]
# **** Dashboard ****
RewriteRule ^dashboard$ dashboard.php [QSA]

# **** Kegiatan ****
RewriteRule ^kegiatan$ kegiatan.php [QSA]
RewriteRule ^kegiatan/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$ kegiatan.php?halaman=$1&id=$2 [QSA]
# **** Surat ****
RewriteRule ^surat$ surat.php [QSA]
RewriteRule ^surat/([A-Za-z0-9_-]+)$ surat.php?halaman=$1 [QSA]
RewriteRule ^surat/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$ surat.php?halaman=$1&aksi=$2 [QSA]
RewriteRule ^surat/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$ surat.php?halaman=$1&aksi=$2&id=$3 [QSA]

# **** Proposal ****
RewriteRule ^proposal$ proposal.php [QSA]
RewriteRule ^proposal/([A-Za-z0-9_-]+)$ proposal.php?halaman=$1 [QSA]

# **** Proposal ****
RewriteRule ^lpj$ lpj.php [QSA]
RewriteRule ^lpj/([A-Za-z0-9_-]+)$ lpj.php?halaman=$1 [QSA]

# **** Akun ****
RewriteRule ^akun/([A-Za-z0-9_-]+)$ akun.php?halaman=$1 [QSA]
RewriteRule ^akun/profil/([A-Za-z0-9_-]+)$ akun.php?halaman=profil&akun=$2 [QSA]
RewriteRule ^akun/edit/([A-Za-z0-9_-]+)$ akun.php?halaman=edit&akun=$2 [QSA]

# **** TKU & TKK ****
RewriteRule ^tku-tkk$ tku-tkk.php [QSA]

# **** SKU ****
RewriteRule ^sku$ sku.php [QSA]

#Error
RewriteRule ^error/([A-Za-z0-9_-]+)$ error.php?tipe=$1 [QSA]
ErrorDocument 404 /ams/error/404